<p id="notice"><%= notice %></p>

<div class="card">
    <div class="card-header">       
        <h3> Receipts</h3>
    </div>
        <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">Name</th>
                <th scope="col">Image</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                </tr>
            </thead>

            <tbody>
            <% @receipts.each do |receipt| %>
              <tr>
                <td><%= receipt.name %></td>
                <td><%= receipt.image %></td>
                <td><%= link_to 'Show', receipt %></td>
                <td><%= link_to 'Edit', edit_receipt_path(receipt) %></td>
                <td><%= link_to 'Destroy', receipt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>

            </tbody>
        </table>
</div>

